# http://aws.amazon.com/ec2/pricing/
# http://aws.amazon.com/ec2/instance-types/
# Region	instance-type	cents-per-hour
ec2	us-east-1	m1.small	9
ec2	us-east-1	m1.large	34
ec2	us-east-1	m1.xlarge	68
ec2	us-east-1	t1.micro	2
ec2	us-east-1	m2.xlarge	50
ec2	us-east-1	m2.2xlarge	100
ec2	us-east-1	m2.4xlarge	200
ec2	us-east-1	c1.medium	17
ec2	us-east-1	c1.xlarge	68
ec2	us-east-1	cc1.4xlarge	160
ec2	us-east-1	gc1.4xlarge	210
ec2	us-east-1	c1.medium	7  spot
